<div class="row">
    <accordian>
        <accordian-group title="Group 1">This is group1</accordian-group>
        <accordian-group title="Group 2">This is group2</accordian-group>
        <accordian-group title ="group 3">This is group3</accordian-group>
    </accordian>
</div>

<div class="row">
    <form name="passwordForm" class="form-horizontal css-form">
        <div class="form-group">
            <label for="pwd" class="col-xs-2">Password</label>
            <input type="password" class="col-xs-4" name="password" id="pwd" ng-model="user.password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirm-pwd" class="col-xs-2">Confirm Password</label>
            <input type="password" class="col-xs-4" id="confirm-pwd" class="form-control" name="confirmPassword" ng-model="confirmPassword" validate-equals="user.password">
        </div>
        <div class="col-xs-4 col-xs-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>

    </form>

</div>


