<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li class="toolbaritem"><a ui-sref="create"><span class="glyphicon glyphicon-plus"></span> Add Operations</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <label class="navbarText col-sm-2">Filter:</label>
                        <div class="col-sm-10">
                            <input type="text" data-ng-model="searchText" data-ng-change="searchTextChanged();" class="novalidate form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row cardContainer">
        <div class="col-sm-6 col-md-4" ng-repeat="(operName, OperData) in operations">
            <div class="card">
                <button class="btn close cardClose" title="Delete Customer" ng-click="deleteOperation(operName)">&times;</button>
                <div class="cardHeader"><a ui-sref="operation({name : operName})" class="white">{{operName}} <i class="icon-edit icon-white editIcon"></i></a></div>
                <div class="cardBody">
                    <div class="clearfix">
                        <div class="pull-left cardBodyLeft">
                            <a ui-sref="editOperation({name : operName})"><span class="glyphicon glyphicon-edit cardImage"></span></a>
                        </div>
                        <div class="pull-left cardBodyRight">
                            <div class="cardBodyContent">{{OperData.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

<div class="row" ui-view></div>
